{% extends "animals/base.html" %}
{% block content %}
<div class="row">
  <div class="large-12 columns">
      <h2>{{ animal.name }}</h2>
  </div>
</div>
<div class="row">
    <div class="large12 columns">
          <img src="{{ MEDIA_URL }}{{ animal.profile_img }}"/>
    </div>
    <div class="large12 columns">
          {{ animal.breed }}
    </div>
    <div class="large12 columns">
          {{ animal.birth_date }}
    </div>
    <div class="large12 columns">
          {{ animal.about }}
    </div>
    <div class="large12 columns">
          {{ animal.created }}
    </div>
</div>
{% endblock %}

